/* URL POLICES */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');



/* VARIABLES */ 

/* polices */
$logoTitre: Shrikhand, arial, comic;
$texte: Roboto, arial, comic;

/* Couleurs */
$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
/* Couleurs pipette */
$couleur1: #eaeaea;
$couleur2: #f6f6f6;
$couleur3: #353535;

/* MAPS */

/* Taille police */
$font-size: ( h1h2: 18px, h3BaselineForm: 16px, etiquetteBouton: 17px, footerNouveau: 16px);

/* MIXINS */

/* mixin Box Shadow */
@mixin ombres {
    box-shadow: lighten($couleur3, 55%) 0px 4px 8px;
}

@mixin ombresFoncé {
    box-shadow: lighten($couleur3, 20%) 0px 4px 8px;
}

/* mixin Bouton */
@mixin bouton2 {
    background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(203,104,219,1) 38%, rgba(147,86,220,1) 100%);
    color: white;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    font-size: map-get($font-size, etiquetteBouton);
}

/* mixin Bouton survol */
@mixin boutonSurvol2 {
    background: linear-gradient(170deg, rgb(255, 180, 234) 0%, rgba(200,141,217,1) 38%, rgba(172,127,226,1) 100%);
    color: white;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    font-size: map-get($font-size, etiquetteBouton);
}

/*****************************************************************/
/* BODY IMAGES DE FOND */

/* La palette du gout */
body.menu1 {
    font-family: $texte;   
    background-image: url(../../images/restaurants/LaPaletteDuGout.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 60px;
    }

/* La note enchantée */
body.menu2 {
    font-family: $texte;   
    background-image: url(../../images/restaurants/LaNoteEnchantée.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -50px;
    }

    /*A la française */
body.menu {
    font-family: $texte;
    background-image: url(../../images/restaurants/ALaFrancaise.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: 0px 65px;
}

/*Le délice des Sens */
body.menu3 {
    font-family: $texte;   
    background-image: url(../../images/restaurants/LedéliceDesSens.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 50px;
    }

/* HEADER */
header.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    i {
        font-size: 25px;
        margin-right: 0px;
        color: $couleur3;
        position: relative;
        top: 6px;
        right: 70px;
    }
    img {
        height: 35px;
        width: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
/* MAIN */
/* Main, fond gris, bouton */
.contenaire-restau {
    background-color: rgb(240, 238, 238);
    border-radius: 40px 40px 0px 0px;
    margin-top: 220px;
    max-width: 100%;
    &__bouton {
        @include bouton2;
        @include ombres;
        margin: auto;
        display: block;
        margin-top: 50px;
    }
    &__bouton:hover {
        cursor: pointer;
        @include boutonSurvol2;
        @include ombresFoncé;
    }
}

/* Espace bouton */
div.espace {
    padding-bottom: 80px;
}

/* GRAND CONTENAIRE */
/* Bouton coeur */ 
.coeur-bouton {
    display: flex;
    width: max-content;
    &__rempli {
        font-size: 26px;
        background: linear-gradient(25deg, rgba(255,180,234,1) 0%, rgba(236,168,232,1) 26%, rgba(172,127,226,1) 83%);
        /*webkit permet d'appliquer le gradient sur l'îcone qui est du texte */
        -webkit-background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: 1s;
        position: relative;
        right: 25px;
        z-index: 0;
    }
    &__contour {
        font-size: 26px;
        transition: 0.5s;
        z-index: 1;
        &:hover + .coeur-bouton__rempli {
            opacity: 1;
        }
        &:hover {
            cursor: pointer;
            opacity: 0;
        }
    }
}

.titreCoeur {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width:768px) {
        margin-bottom: 50px;
    }
}

.contenaire-principal {
    width: max-content;
    margin: auto;
    @media only screen and (min-width:992px) {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 40px 40px 0px 0px;
       }
    &__titre {
       font-family: $logoTitre;
       font-size: 30px;
       margin-right: 30px;
       i {
        font-size: 27px;
       }
    }
}


/* ETIQUETTES + animations */
.etiquette-principale {
background-color: white;
@include ombres;
margin-bottom: 15px;
display: flex;
border-radius: 15px;
overflow: hidden;
cursor: pointer;
&:hover > .etiquette-principale__encoche {
    margin-right: 0px;
    color: white;
}
&:hover .etiquette-principale__icone {
    color: white;
    transition: transform ease-in-out 1s;
    transform: rotate(1turn);
}
.etiquettes {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px;
    font-family: $texte;
    font-size: map-get($font-size , h3BaselineForm);
    line-height: 22px;
    &__titre {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        font-size: map-get($font-size , h1h2);
    }
    &__baseline {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $texte;
    }
 }
&__prix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    padding-right: 20px;
    padding-bottom: 15px;
}
&__encoche {
    background-color: #99E2D0;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1000ms;
    margin-right: -60px;
}
&__icone {
    color: white;
    font-size: 20px;
}
}
/* Contenaire Flex pour le format tablette & Desktop */
div.contenaire-flex {
    @media only screen and (min-width: 768px) {
        width: 750px;
        flex-wrap: wrap;
        display: flex;
        justify-content:left;
        margin: 0px;
        padding: 0px;
    }
    @media only screen and (min-width: 992px) {
        width: 100%;
        padding: 0px;
        margin: 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
}


/* ENTREE */
.entrees {
    width: 360px;
    @media only screen and (min-width: 768px) {
        margin-left: 5px;
        margin-right: 30px;
        width: 320px;
    }
    @media only screen and (min-width: 992px) {
        margin-right: 0px;
        margin-left: 0px;
        width: 30%;
        margin-right: 30px;
    }
    &__titre {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 5px;
        @media only screen and (min-width: 768px) {
            margin-top: 20px;
        }
    }
    &__surligne {
        border-top: 3.5px solid $Tertiaire;
        width: 45px;
        margin-bottom: 20px;
    }
}
/* PLATS */
.plats {
    width: 360px;
    margin: auto;
    @media only screen and (min-width: 768px) {
        width: 320px;
        margin: 0px;
    }
    @media only screen and (min-width: 992px) {
        margin: 0px;
        padding: 0px;
        width: 30%;
        margin-right: 30px;
    }
    &__titre {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 5px;
        @media only screen and (min-width: 768px) {
            margin-top: 20px;
        }
    }
    &__surligne {
        border-top: 3.5px solid $Tertiaire;
        width: 45px;
        margin-bottom: 20px;
    }
}
/* DESSERTS */
.desserts {
    width: 360px;
    margin: auto;
    @media only screen and (min-width: 768px) {
        margin: 0px;
        margin-top: 20px;
        margin-left: 5px;
        width: 320px;
    }
    @media only screen and (min-width: 992px) {
        margin: 0px;
        padding: 0px;
        width: 30%;
    }
    &__titre {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 5px;
        @media only screen and (min-width: 768px) {
            margin-top: 20px;
        }
    }
    &__surligne {
        border-top: 3.5px solid $Tertiaire;
        width: 45px;
        margin-bottom: 20px;
    }
}

/* Animation entrees */
div.animation1 {
    animation: entrees linear 1s;
}

@keyframes entrees {
0% {
    transform: translateY(8px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
   }
}

/* Animation plats */
div.animation2 {
    animation: plats linear 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

@keyframes plats {
    0% {
        transform: translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
       }
}

/*Animation desserts */
div.animation3 {
    animation: plats linear 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes desserts {
    0% {
        transform: translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
       }
}

/* FOOTER */
/* Le même que sur l'accueil, DRY ;)!*/
