@charset "UTF-8";
/* URL POLICES */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
/* URL POLICES */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
/* VATIABLES */
/* polices */
/* Couleurs */
/* Couleurs pipette */
/* MAPS */
/* Taille police */
/* MIXINS */
/* mixin pour les étiquettes */
/* mixin pour les étiquettes tablette */
/* mixin Box Shadow */
/* mixin Bouton */
/* mixin Bouton survol */
/*             (\_/)
               ( •,•)
               (")_(")        !*/
/* BODY */
body.accueil {
  font-family: "Roboto", serif, comic, arial;
}
@media only screen and (min-width: 992px) {
  body.accueil {
    background-color: white;
  }
}

/* HEADER */
header.header-accueil {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  header.header-accueil {
    background-color: #e8e8e8;
  }
}
header.header-accueil img {
  height: 35px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  header.header-accueil img {
    margin-bottom: 80px;
  }
}

/* MAIN */
/* section */
@media only screen and (min-width: 992px) {
  section.section-articleAside {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

/* Formulaire */
form.formulaire {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  box-shadow: inset 0px 4px 10px -9px;
}
@media only screen and (min-width: 992px) {
  form.formulaire {
    width: 300px;
    border-radius: 25px 25px;
    margin-top: 40px;
  }
}
form.formulaire input {
  background-color: #eaeaea;
  padding-left: 20px;
  border: 0px;
  margin: auto;
}
form.formulaire i {
  color: #353535;
  margin-left: 20px;
}
form.formulaire ::-moz-placeholder {
  font-weight: bold;
  font-size: 19px;
  color: #4f4f4f;
}
form.formulaire :-ms-input-placeholder {
  font-weight: bold;
  font-size: 19px;
  color: #4f4f4f;
}
form.formulaire ::placeholder {
  font-weight: bold;
  font-size: 19px;
  color: #4f4f4f;
}

/* article 1 */
.article-principal {
  background-color: #f4f4f4;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .article-principal {
    box-shadow: #FF79DA 0px 0px 20px 4px;
    border-radius: 60px;
    width: 400px;
    margin: 0px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.article-principal__titre {
  font-weight: bold;
  width: 260px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 25px;
}
@media only screen and (min-width: 768px) {
  .article-principal__titre {
    width: 100%;
    font-size: 28px;
  }
}
@media only screen and (min-width: 992px) {
  .article-principal__titre {
    color: #541f94;
    font-family: "Shrikhand", serif, comic, arial;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: left;
  }
}
.article-principal__baseline {
  margin: auto;
  margin-bottom: 30px;
  font-size: 19px;
  width: 350px;
}
@media only screen and (min-width: 992px) {
  .article-principal__baseline {
    color: #541f94;
    font-size: 22px;
    line-height: 30px;
    width: 100%;
    margin-top: 15px;
    margin-left: 5px;
  }
}
.article-principal__bouton {
  background: linear-gradient(170deg, rgb(255, 121, 218) 0%, rgb(203, 104, 219) 38%, rgb(147, 86, 220) 100%);
  color: white;
  border: none;
  border-radius: 30px;
  height: 56px;
  width: 220px;
  font-size: 17px;
  box-shadow: #dbdbdb 0px 4px 8px;
  margin-bottom: 50px;
}
.article-principal__bouton:hover {
  cursor: pointer;
  background: linear-gradient(170deg, rgb(255, 180, 234) 0%, rgb(200, 141, 217) 38%, rgb(172, 127, 226) 100%);
  color: white;
  border: none;
  border-radius: 30px;
  height: 56px;
  width: 220px;
  font-size: 17px;
  box-shadow: #686868 0px 4px 8px;
}

/* ASIDE */
.aside-fonctionnement {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .aside-fonctionnement {
    width: 100%;
    background-color: #c1ede2;
  }
}
@media only screen and (min-width: 992px) {
  .aside-fonctionnement {
    background-color: white;
  }
}
.aside-fonctionnement__titre {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .aside-fonctionnement__titre {
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .aside-fonctionnement__titre {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .aside-fonctionnement {
    border-radius: 60px 60px;
    box-shadow: #9356DC 0px 0px 20px 4px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .contenaire-etiquettesPrincipal {
    display: flex;
    justify-content: space-between;
    background-color: #c1ede2;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .contenaire-etiquettesPrincipal {
    flex-direction: column;
    background-color: white;
    width: 300px;
    border-radius: 50px 50px;
  }
}

.contenaire-etiquette {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-bottom: 25px;
}

.etiquette {
  font-weight: bold;
  font-size: 18px;
  background-color: #f4f4f4;
  box-shadow: #dbdbdb 0px 4px 8px;
  display: flex;
  align-items: center;
  width: 350px;
  height: 70px;
  border-radius: 20px;
}
.etiquette i {
  color: #828282;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  .etiquette {
    font-size: 16px;
    background-color: #f4f4f4;
    box-shadow: #dbdbdb 0px 4px 8px;
    display: flex;
    align-items: center;
    width: 230px;
    height: 50px;
    border-radius: 30px;
  }
  .etiquette i {
    color: #828282;
    padding-right: 10px;
    padding-left: 5px;
  }
}
.etiquette__numero {
  position: relative;
  right: 10px;
  border-radius: 100px;
  background-color: #9356DC;
  color: white;
  font-size: 15px;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .etiquette__numero {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .etiquette__numero {
    display: initial;
    position: relative;
    right: 10px;
    border-radius: 100px;
    background-color: #9356DC;
    color: white;
    font-size: 15px;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.etiquette i {
  margin-right: 10px;
  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  .etiquette i {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.etiquette:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.etiquette:hover i {
  color: #9356DC;
}
.etiquette h3 {
  font-weight: bold;
}

/* article, restaurants, cards */
.article-restaurants {
  background-color: #f4f4f4;
}
@media only screen and (min-width: 992px) {
  .article-restaurants {
    margin-top: 50px;
  }
}

.contenairePrincipal {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  row-gap: 20px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .contenairePrincipal {
    flex-direction: row;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .contenairePrincipal {
    width: 970px;
    row-gap: 35px;
  }
}
.contenairePrincipal__titre {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .contenairePrincipal__titre {
    width: 650px;
  }
}
@media only screen and (min-width: 992px) {
  .contenairePrincipal__titre {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}

/* CARTES */
.card {
  box-shadow: #dbdbdb 0px 4px 8px;
  width: 350px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  .card {
    width: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    width: 450px;
  }
}
.card__img {
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
}
@media only screen and (min-width: 768px) {
  .card__img {
    height: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .card__img {
    height: 200px;
  }
}
.card img {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.card img.vertical {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
}
.card .nouveau {
  background-color: #99E2D0;
  color: #299077;
  font-weight: bold;
  width: 80px;
  height: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 253px;
  top: 15px;
}
@media only screen and (min-width: 768px) {
  .card .nouveau {
    left: 210px;
    background-color: #FF79DA;
    color: #b60084;
  }
}
@media only screen and (min-width: 992px) {
  .card .nouveau {
    left: 350px;
  }
}
.card__lieu {
  padding-bottom: 10px;
  font-size: 19px;
  margin-left: 15px;
  line-height: 30px;
}

/* Positionnement titre et coeur en display */
.titre-coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.titre-coeur__titre {
  font-weight: bold;
  font-size: 19px;
  margin-left: 15px;
}

/* Bouton coeur */
.coeur-bouton {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.coeur-bouton__rempli {
  font-size: 26px;
  background: linear-gradient(170deg, rgb(255, 180, 234) 0%, rgb(200, 141, 217) 38%, rgb(172, 127, 226) 100%);
  /*webkit permet d'appliquer le gradient sur l'îcone qui est du texte */
  -webkit-background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: 1s;
  position: relative;
  right: 25px;
  z-index: 0;
}
.coeur-bouton__contour {
  font-size: 26px;
  transition: 0.5s;
  z-index: 1;
}
.coeur-bouton__contour:hover + .coeur-bouton__rempli {
  opacity: 1;
}
.coeur-bouton__contour:hover {
  cursor: pointer;
  opacity: 0;
}

/* CARTE CLIQUABLE */
a {
  text-decoration: none;
  color: black;
}

/* FOOTER */
.basdepage {
  background-color: #353535;
  color: white;
  padding-bottom: 30px;
}
.basdepage__titre {
  font-family: "Shrikhand", serif, comic, arial;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 350px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .basdepage__titre {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.basdepage-liste {
  font-size: 16px;
  width: 350px;
  margin: auto;
  line-height: 30px;
}
.basdepage-liste i:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .basdepage-liste {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
.basdepage-liste a {
  text-decoration: none;
  color: white;
}
.basdepage-liste i {
  font-size: 15px;
  margin-right: 8px;
}

/* VARIABLES */
/* polices */
/* Couleurs */
/* Couleurs pipette */
/* MAPS */
/* Taille police */
/* MIXINS */
/* mixin Box Shadow */
/* mixin Bouton */
/* mixin Bouton survol */
/*****************************************************************/
/* BODY IMAGES DE FOND */
/* La palette du gout */
body.menu1 {
  font-family: "Roboto", serif, comic, arial;
  background-image: url(../../images/restaurants/LaPaletteDuGout.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 35px;
}

/* La note enchantée */
body.menu2 {
  font-family: "Roboto", serif, comic, arial;
  background-image: url(../../images/restaurants/LaNoteEnchantée.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -50px;
}

/*A la française */
body.menu {
  font-family: "Roboto", serif, comic, arial;
  background-image: url(../../images/restaurants/ALaFrancaise.jpg);
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: 0px 65px;
}

/*Le délice des Sens */
body.menu3 {
  font-family: "Roboto", serif, comic, arial;
  background-image: url(../../images/restaurants/LedéliceDesSens.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 50px;
}

/* HEADER */
header.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header.header-menu i {
  font-size: 25px;
  margin-right: 0px;
  color: #353535;
  position: relative;
  top: 6px;
  right: 70px;
}
header.header-menu img {
  height: 35px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* MAIN */
/* Main, fond gris, bouton */
.contenaire-restau {
  background-color: rgb(240, 238, 238);
  border-radius: 40px 40px 0px 0px;
  margin-top: 220px;
  width: 100%;
}
.contenaire-restau__bouton {
  background: linear-gradient(170deg, rgb(255, 121, 218) 0%, rgb(203, 104, 219) 38%, rgb(147, 86, 220) 100%);
  color: white;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 180px;
  font-size: 17px;
  box-shadow: #c1c1c1 0px 4px 8px;
  margin: auto;
  display: block;
  margin-top: 50px;
}
.contenaire-restau__bouton:hover {
  cursor: pointer;
  background: linear-gradient(170deg, rgb(255, 180, 234) 0%, rgb(200, 141, 217) 38%, rgb(172, 127, 226) 100%);
  color: white;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 180px;
  font-size: 17px;
  box-shadow: #686868 0px 4px 8px;
}

/* Espace bouton */
div.espace {
  padding-bottom: 80px;
}

/* GRAND CONTENAIRE */
/* Bouton coeur */
.coeur-bouton {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.coeur-bouton__rempli {
  font-size: 26px;
  background: linear-gradient(25deg, rgb(255, 180, 234) 0%, rgb(236, 168, 232) 26%, rgb(172, 127, 226) 83%);
  /*webkit permet d'appliquer le gradient sur l'îcone qui est du texte */
  -webkit-background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: 1s;
  position: relative;
  right: 25px;
  z-index: 0;
}
.coeur-bouton__contour {
  font-size: 26px;
  transition: 0.5s;
  z-index: 1;
}
.coeur-bouton__contour:hover + .coeur-bouton__rempli {
  opacity: 1;
}
.coeur-bouton__contour:hover {
  cursor: pointer;
  opacity: 0;
}

.titreCoeur {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .titreCoeur {
    margin-bottom: 50px;
  }
}

.contenaire-principal {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
@media only screen and (min-width: 992px) {
  .contenaire-principal {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px 40px 0px 0px;
  }
}
.contenaire-principal__titre {
  font-family: "Shrikhand", serif, comic, arial;
  font-size: 30px;
  margin-right: 30px;
}
.contenaire-principal__titre i {
  font-size: 27px;
}

/* ETIQUETTES + animations */
.etiquette-principale {
  background-color: white;
  box-shadow: #c1c1c1 0px 4px 8px;
  margin-bottom: 15px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.etiquette-principale:hover > .etiquette-principale__encoche {
  margin-right: 0px;
  color: white;
}
.etiquette-principale:hover .etiquette-principale__icone {
  color: white;
  transition: transform ease-in-out 1s;
  transform: rotate(1turn);
}
.etiquette-principale .etiquettes {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  font-family: "Roboto", serif, comic, arial;
  font-size: 16px;
  line-height: 22px;
}
.etiquette-principale .etiquettes__titre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
}
.etiquette-principale .etiquettes__baseline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: "Roboto", serif, comic, arial;
}
.etiquette-principale__prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  padding-right: 20px;
  padding-bottom: 15px;
}
.etiquette-principale__encoche {
  background-color: #99E2D0;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  margin-right: -60px;
}
.etiquette-principale__icone {
  color: white;
  font-size: 20px;
}

/* Contenaire Flex pour le format tablette & Desktop */
@media only screen and (min-width: 768px) {
  div.contenaire-flex {
    width: 760px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 992px) {
  div.contenaire-flex {
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

/* ENTREE */
.entrees {
  width: 360px;
}
@media only screen and (min-width: 992px) {
  .entrees {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 350px;
  }
}
.entrees__titre {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .entrees__titre {
    margin-top: 20px;
  }
}
.entrees__surligne {
  border-top: 3.5px solid #99E2D0;
  width: 45px;
  margin-bottom: 20px;
}

/* PLATS */
.plats {
  width: 360px;
  margin: auto;
}
@media only screen and (min-width: 992px) {
  .plats {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
}
.plats__titre {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .plats__titre {
    margin-top: 20px;
  }
}
.plats__surligne {
  border-top: 3.5px solid #99E2D0;
  width: 45px;
  margin-bottom: 20px;
}

/* DESSERTS */
.desserts {
  width: 360px;
  margin: auto;
}
@media only screen and (min-width: 992px) {
  .desserts {
    display: flex;
    flex-direction: column;
  }
}
.desserts__titre {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .desserts__titre {
    margin-top: 20px;
  }
}
.desserts__surligne {
  border-top: 3.5px solid #99E2D0;
  width: 45px;
  margin-bottom: 20px;
}

/* Animation entrees */
div.animation1 {
  -webkit-animation: entrees linear 1s;
          animation: entrees linear 1s;
}

@-webkit-keyframes entrees {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes entrees {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Animation plats */
div.animation2 {
  -webkit-animation: plats linear 1s;
          animation: plats linear 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes plats {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes plats {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*Animation desserts */
div.animation3 {
  -webkit-animation: plats linear 1s;
          animation: plats linear 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes desserts {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes desserts {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* FOOTER */
/* Le même que sur l'accueil, DRY ;)!*//*# sourceMappingURL=style.css.map */